body{
    background: url(./Assets/carl-raw-m3hn2Kn5Bns-unsplash.jpg) repeat center center fixed;
    background-size: cover;
}

.card{
    border-radius: 5px;
    border: 2px solid black;
    background-color: #e5989b;
    font-family: 'Montserrat', sans-serif;
}

.entryHero{
    font-style: italic;
}

#gameCover{
    display: flex;
    justify-content: center;
    width: 15em;
    height: 20em;
}